.bottom-fix{
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    padding-left: $container-pad;
    padding-right: $container-pad;
    padding-bottom: rem(30);
}
.button{
    border: 0;
    background-color: $btn-bg-default;
    min-height: rem(50);
    font-size: rem(16);
    border-radius: rem(5);
    color: $fc-default;
    >img{
        pointer-events: none;
    }
    &.button-primary{
        background-color: $btn-bg-primary;
        color: #ffffff;
    }
    &.button-secondary{
        background-color: $btn-bg-secondary;
        color: #3D73FF;
    }
    &.button-wide{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    &.button-free{
        display: flex;
        width: auto;
        min-height: 0;
        line-height: 0;
        background-color: transparent;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    &.button-md{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        min-height: rem(36);
        padding-left: rem(16);
        padding-right: rem(16);
        font-size: rem(14);
    }
    &:disabled{
        opacity: .3;
        cursor: default;
    }
}