@for $i from 1 to 100 {
    .mt-#{$i*2}{
        margin-top: rem($i*2);   
    }
    .mb-#{$i*2}{
        margin-bottom: rem($i*2);   
    }
    .mr-#{$i*2}{
        margin-right: rem($i*2);   
    }
    .ml-#{$i*2}{
        margin-left: rem($i*2);   
    }
    .pt-#{$i*2}{
        padding-top: rem($i*2);   
    }
    .pb-#{$i*2}{
        padding-bottom: rem($i*2);   
    }
    .pr-#{$i*2}{
        padding-right: rem($i*2);   
    }
    .pl-#{$i*2}{
        padding-left: rem($i*2);   
    }
    .fs-#{$i}{
        font-size: rem($i);   
    }
    .lh-#{$i}{
        line-height: rem($i);   
    }
    
}
.fc-default{
    color: $fc-default;
}
.fc-primary{
    color: $fc-primary;
}
.fw-bold{
    font-weight: 700;
}
.align-c{
    text-align: center;
}
.align-r{
    text-align: right;
}
.align-l{
    text-align: left;
}
.emphas{
    color: $fincube-red50;
}
.bottom-fix{
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    padding-left: $container-pad;
    padding-right: $container-pad;
    padding-top: rem(30);
    padding-bottom: rem(30);
    background-color: #ffffff;
}
.bottom-fix-fit{
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
}

@media (min-width: $breakpoint-pad){
    .bottom-fix{
        width: calc($breakpoint-sm*2);
        left: 50%;
        transform: translateX(-50%);
    }
    .bottom-fix-fit{
        width: calc($breakpoint-sm*2);
        left: 50%;
        transform: translateX(-50%);
    }
}