[class*="icon-"]{
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 0;
    line-height: 1;
}
.icon-input-delete{
    background-image: url('../image/icon_input_delete.png');
}
.icon-close-popup-black{
    width: rem(24);
    height: rem(24);
    background-image: url('../image/icon_close_popup_black.png');
}
.icon-nav-prev{
    width: rem(24);
    height: rem(24);
    background-image: url('../image/icon_nav_prev.png');
}
.icon-finger-print{
    width: rem(56);
    height: rem(56);
    background-image: url('../image/icon_finger_print.png');
}
.icon-finger-print-error{
    width: rem(56);
    height: rem(56);
    background-image: url('../image/icon_finger_print_error.png');
}
.icon-doc{
    width: rem(20);
    height: rem(20);
    background-image: url('../image/icon_doc.png');
}
.icon-chart{
    width: rem(20);
    height: rem(20);
    background-image: url('../image/icon_chart.png');
}
.icon-briefcase{
    width: rem(20);
    height: rem(20);
    background-image: url('../image/icon_briefcase.png');
}
