[class*="icon-"]{
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 0;
    line-height: 1;
}
.icon-logo{
    background-image: url('../image/icon_logo.png');
    width: rem(103);
    height: rem(21);
}
.icon-input-delete{
    background-image: url('../image/icon_input_delete.png');
}
.icon-close-popup-black{
    width: rem(24);
    height: rem(24);
    background-image: url('../image/icon_close_popup_black.png');
}
.icon-nav-prev{
    width: rem(24);
    height: rem(24);
    background-image: url('../image/icon_nav_prev.png');
}
.icon-finger-print{
    width: rem(56);
    height: rem(56);
    background-image: url('../image/icon_finger_print.png');
}
.icon-finger-print-error{
    width: rem(56);
    height: rem(56);
    background-image: url('../image/icon_finger_print_error.png');
}
.icon-doc{
    width: rem(20);
    height: rem(20);
    background-image: url('../image/icon_doc.png');
}
.icon-chart{
    width: rem(20);
    height: rem(20);
    background-image: url('../image/icon_chart.png');
}
.icon-briefcase{
    width: rem(20);
    height: rem(20);
    background-image: url('../image/icon_briefcase.png');
}
.icon-check-circle{
    width: rem(48);
    height: rem(48);
    background-image: url('../image/icon_check_circle.png');
}
.icon-refresh{
    width: rem(24);
    height: rem(24);
    background-image: url('../image/icon_refresh.png');
}
.icon-select-arrow{
    width: rem(18);
    height: rem(18);
    background-image: url('../image/icon_select_arrow.png');
}
.icon-btn-link-arrow{
    width: rem(18);
    height: rem(18);
    background-image: url('../image/icon_btn_link_arrow.png');
}
.icon-notice{
    width: rem(20);
    height: rem(20);
    background-image: url('../image/icon_notice.png');
}
.icon-notice-taxbill{
    width: rem(20);
    height: rem(20);
    background-image: url('../image/icon_notice_taxbill.png');
}
.icon-select-arrow-topbottom{
    width: rem(16);
    height: rem(16);
    background-image: url('../image/icon_select_arrow_topbottom.png');
}
.icon-delete-tag{
    width: rem(16);
    height: rem(16);
    background-image: url('../image/icon_delete_tag.png');
}