
.input-wrapper{
    &.on-focus{
        .input-label{
            color: $fc-primary;
        }
        .input-border{
            .input-text{
                background-color: $primary-light;
            }
        }
        .input-line{
            border-bottom: 2px solid $bc-focused;
        }
        &.is-invalid{
            .input-line{
                border-bottom: 2px solid $notice-red;
            }
        }
    }
    &.is-invalid{
        .input-line{
            border-bottom: 2px solid $notice-red;
        }
    }
    .input-border{
        position: relative;
        border: 1px solid $bc-input;
        height: rem(42);
        border-radius: rem(5);
        overflow: hidden;
        .input-text{
            width: 100%;
            height: 100%;
            padding: rem(12) rem(10);
            vertical-align: middle;
            background-color: $bg-input;
            font-size: rem(16);
            color: $fc-default;
            &::placeholder{
                color: $fc-input-placeholder;
            }
            &:focus{
                outline: none;
            }
        }
        > .btn-input-reset{
            position: absolute;
            display: none;
            right: rem(16);
            top: 50%;
            width: rem(20);
            height: rem(20);
            min-height: 0;
            transform: translateY(-50%);
            img{
                width: 100%;
            }
        }
        &.is-value-in{
            .btn-input-reset{
                display: inline-block;
            }
        }
    }
    .input-solid{
        position: relative;
        height: rem(52);
        border-radius: rem(5);
        overflow: hidden;
        .input-text{
            width: 100%;
            height: 100%;
            padding: rem(12) rem(10);
            vertical-align: middle;
            background-color: $bg-input;
            font-size: rem(16);
            color: $fc-default;
            &::placeholder{
                color: $fc-input-solid-placeholder;
            }
            &:focus{
                outline: none;
            }
        }
        > .btn-input-reset{
            position: absolute;
            display: none;
            right: rem(16);
            top: 50%;
            width: rem(20);
            height: rem(20);
            min-height: 0;
            transform: translateY(-50%);
            img{
                width: 100%;
            }
        }
        &.is-value-in{
            .btn-input-reset{
                display: inline-block;
            }
        }
    }
    .input-label{
        display: block;
        text-align: left;
        font-size: rem(12);
        color: $fc-bluegray50;
        
    }
    .input-line{
        position: relative;
        border-bottom: 2px solid $bc-input;
        // padding-bottom: rem(10);
        margin-top: rem(10);
        height: rem(33);
        &:after{
            content: '';
            display: block;
            position: absolute;
            bottom: -2px;
            width: 0;
            height: 2px;
            background-color: $primary;
            transition: width .2s;
        }
        .input-text{
            width: 100%;
            height: 100%;
            padding: 0 rem(10) rem(12) 0;
            vertical-align: middle;
            font-size: rem(18);
            color: $fc-default;
            &::placeholder{
                color: $fc-input-placeholder;
            }
            &:focus{
                outline: none;
            }
        }
        > .btn-input-reset{
            position: absolute;
            display: none;
            right: 0;
            top: 0;
            width: rem(20);
            height: rem(20);
            min-height: 0;
            // transform: translateY(-50%);
            img{
                width: 100%;
            }
        }
        &.is-value-in{
            .btn-input-reset{
                display: inline-block;
            }
        }
        &.focused{
            &:after{
                width: 100%;
            }
        }
        &.has-timer{
            .timer{
                position: absolute;
                right: 0;
                bottom: rem(14);
                font-size: rem(12);
                color: $fc-bluegray40;
            }
            .btn-input-reset{
                right: rem(40);
            }
        }
    }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}