.main-setting{
    .header{
        @include prefix-suffix;
        position: fixed;
        height: $header-height;
        justify-content: space-between;
        padding-left: $container-pad;
        padding-right: $container-pad;
        .prefix{
            flex-direction: column;
            align-items: flex-start;
        }
        .suffix{
            .button{
                margin-left: rem(20);
            }
        }
        .button{
            height: rem(24);
            img{
                width: rem(24);
            }
        }
    }
    .container{
        padding-top: $header-height;
        .setting-list{
            padding-bottom: rem(30);
            .partition{
                border-top: rem(10) solid $bluegray5;
                &:nth-of-type(1){
                    border-top: 0;
                }
                > ul{
                    > li{
                        margin-bottom: rem(10);
                        &:last-child{
                            margin-bottom: 0;
                        }
                        >a{
                            display: flex;
                            padding-top: rem(15);
                            padding-bottom: rem(15);
                            padding-left: $container-pad;
                            padding-right: $container-pad;
                            width: 100%;
                            justify-content: space-between;
                            .left-side{
                                margin-right: rem(8);
                            }
                            .right-side{
                                flex: 1 1 auto;
                            }
                            
                            .notice-item{
                                .notice-item-header{
                                    display: flex;
                                    width: 100%;
                                    justify-content: space-between;
                                    margin-bottom: rem(10);
                                    color: $fc-gray40;
                                    font-size: rem(12);
                                    line-height: rem(15);
                                }
                                .notice-item-text{
                                    font-size: rem(14);
                                    line-height: rem(18);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (min-width: $breakpoint-pad){
    .main-setting{
        .container{
            @include container-pc;
        }
    }
}