
.main{
    min-height: 100vh;
    background-color: $bg-bluegray5;
    .header{
        @include prefix-suffix;
        justify-content: space-between;
        align-items: flex-start;
        padding-top: rem(32);
        padding-left: $container-pad;
        padding-right: $container-pad;
        // background-color: red;
        .prefix{
            flex-direction: column;
            align-items: flex-start;
        }
        .suffix{
            .button{
                margin-left: rem(20);
            }
        }
        h1{
            font-size: rem(24);
            font-weight: 700;
            color: $fc-default;
        }
        .info-text{
            font-size: rem(12);
            color: $fc-bluegray50;
        }
        .button{
            height: rem(24);
            img{
                width: rem(24);
            }
            &.has-new{
                position: relative;
                &:before{
                    content: '';
                    position: absolute;
                    right: 0;
                    top: calc(50% - #{rem(8)});
                    transform: translateY(-50%);
                    width: rem(10);
                    height: rem(10);
                    border-radius: 50%;
                    background-color: $notice-red;
                }
            }
        }
    }
    .container{
        padding-left: $container-pad;
        padding-right: $container-pad;
        .my-taxbill-info{
            img{
                width: 100%;
            }
            .sub-text{
                margin-top: rem(14);
                font-size: rem(14);
                line-height: rem(18);
                color: $fc-bluegray50;
            }
            &.on-load{
                .title{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .button{
                        min-height: unset;
                        height: rem(36);
                        width: rem(84);
                        font-size: rem(14);
                    }
                }
                .info-summary{
                    li{
                        display: flex;
                        align-items: center;
                        margin-bottom: rem(24);
                        &:last-child{
                            margin-bottom: 0;
                        }
                        .img-wrap{
                            width: rem(48);
                            margin-right: rem(6);
                            img{
                                width: 100%;
                            }
                        }
                        .dd{
                            .dd-header{
                                display: block;
                                font-size: rem(13);
                                color: $fc-bluegray50;
                                line-height: rem(16);
                                margin-bottom: rem(6);
                            }
                            .total-amount{
                                font-size: rem(17);
                                font-weight: 700;
                                color: $fc-default;
                                line-height: rem(21);
                            }
                        }
                    }
                }
            }
        }
        h2{
            font-size: rem(17);
            font-weight: 700;
        }
        .card-title{
            text-align: left;
            font-size: rem(18);
            line-height: rem(23);
            font-weight: 700;
        }
        .my-bill-list{
            display: flex;
            justify-content: space-between;
            .sub-text{
                margin-top: 0;
                margin-bottom: rem(5);
                font-size: rem(13);
                line-height: rem(16);
                color: $fc-bluegray50;
            }
            .left-side{
                display: flex;
                flex: 1 0 70%;
                .img-wrap{
                    width: rem(48);
                    height: rem(48);
                    margin-right: rem(6); 
                    img{
                        width: 100%;
                    }
                }
                .text-wrap{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    h2{
                       margin-top: 0; 
                       margin-bottom: 0; 
                    }
                }
            }
            .right-side{
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
            &.on-load{
                .left-side{
                    .img-wrap{
                        width: rem(48);
                        height: rem(48);
                        margin-right: rem(6);
                    }
                    .dd{
                        .dd-header{
                            display: block;
                            font-size: rem(13);
                            color: $fc-bluegray50;
                            line-height: rem(16);
                            margin-bottom: rem(6);
                        }
                        .total-amount{
                            font-size: rem(17);
                            font-weight: 700;
                            color: $fc-default;
                            line-height: rem(21);
                        }
                    }
                }
            }
        }
        .my-cash-receipt-list{
            display: flex;
            justify-content: space-between;
            .sub-text{
                margin-top: 0;
                margin-bottom: rem(5);
                font-size: rem(13);
                line-height: rem(16);
                color: $fc-bluegray50;
            }
            .left-side{
                display: flex;
                flex: 1 0 70%;
                img{
                    width: rem(48);
                    height: rem(48);
                    margin-right: rem(6); 
                }
                .text-wrap{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    h2{
                       margin-top: 0; 
                       margin-bottom: 0; 
                    }
                }
            }
            .right-side{
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
            &.on-load{
                display: block;
                justify-self: unset;
                .title{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .button{
                        min-height: unset;
                        height: rem(36);
                        width: rem(84);
                        font-size: rem(14);
                    }
                }
                .info-summary{
                    li{
                        display: flex;
                        align-items: center;
                        margin-bottom: rem(24);
                        &:last-child{
                            margin-bottom: 0;
                        }
                        .img-wrap{
                            width: rem(48);
                            margin-right: rem(6);
                            img{
                                width: 100%;
                            }
                        }
                        .dd{
                            .dd-header{
                                display: block;
                                font-size: rem(13);
                                color: $fc-bluegray50;
                                line-height: rem(16);
                                margin-bottom: rem(6);
                            }
                            .total-amount{
                                font-size: rem(17);
                                font-weight: 700;
                                color: $fc-default;
                                line-height: rem(21);
                            }
                        }
                    }
                }
            }
        }
        .my-tax{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .left-side{
                text-align: left;
                >span{
                    display: inline-block;
                }
            }
            .right-side{
                img{
                    width: rem(100);
                    height: rem(100);
                }
            }
            &.on-load{
                display: block;
                justify-content: unset;
                align-items: unset;
                .title, .my-tax-body{
                    display: flex;
                }
                .title{
                    align-items: center;
                    justify-content: space-between;
                    .button-free{
                        color: $fc-bluegray50;
                        font-size: rem(14);
                        padding-right: rem(20);
                        background-image: url(../image/icon_btn_link_arrow.png);
                        background-repeat: no-repeat;
                        background-position: right center;
                        background-size: rem(18) rem(18);
                    }
                }
                .my-tax-body{
                    justify-content: space-between;
                    .left-side{
                        position: relative;
                        .period{
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            font-size: rem(12);
                            color: $fc-gray40;
                        }
                    }
                }
            }
        }
        .fincube-guide{
            a{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                .left-side{
                    h2{
                        font-size: rem(16);
                        line-height: rem(24);
                        color: $fc-default;
                    }
                    .sub-text{
                        font-size: rem(12);
                        line-height: rem(15);
                        color: $fc-bluegray50;
                    }
                }
                .right-side{
                    flex: 0 1 rem(65);
                    img{
                        width: 100%;
                    }
                }
            }
        }
        .refresh-wrap{
            text-align: right;
            .btn-refresh{
                display: inline-flex;
                align-items: center;
                background-color: transparent;
                font-size: rem(12);
                color: $fc-gray40;
                line-height: rem(15);
            }
        }
        .select-period{
            .label{
                font-size: rem(14);
                line-height: rem(18);
                color: $fc-bluegray50;
            }
            button{
                display: inline-flex;
                align-items: center;
                font-size: rem(14);
                line-height: rem(18);
                color: $fc-bluegray50;
                background-color: transparent;
                .period{
                }
            }
        }
    }
    .total-amount{
        position: relative;
        &.has-new{
            position: relative;
            &:before{
                content: '';
                position: absolute;
                right: rem(-8);
                top: calc(50% - #{rem(12)});
                transform: translateY(-50%);
                width: rem(5);
                height: rem(5);
                border-radius: 50%;
                background-color: $notice-red;
            }
        }
    }
}
@media (min-width: $breakpoint-pad){
    .main{
        .container{
            @include container-pc;
        }
        .header{
            @include container-pc;
        }
    }
}
.period-select-wrap{
    .toast-modal{
        .toast-body{
            .period-select-topper{
                margin-top: rem(50);
                ul{
                    li{
                        margin-bottom: rem(30);
                        &:last-child{
                            margin-bottom: 0;
                        }
                        .description{
                            font-size: rem(13);
                            line-height: rem(16);
                            color: $fc-gray50;
                            margin-bottom: rem(3);
                        }
                    }
                }

            }
            .period-list{
                margin-top: rem(30);
                ul{
                    li{
                        margin-bottom: rem(30);
                        &:last-child{
                            margin-bottom: 0;
                        }
                    }
                }
            }
            .input-wrapper{
                label{
                    font-size: rem(15);
                    line-height: rem(19);
                    color: $fc-default;
                    justify-content: space-between;
                }
            }
        }
    }
}