@mixin prefix-suffix{
    display: flex;
    align-items: center;
    .prefix{
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .suffix{
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}

@mixin fullpage{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
@mixin metropolis{
    display: flex;
    align-items: center;
    justify-content: center;
}