@mixin prefix-suffix{
    display: flex;
    position: relative;
    align-items: center;
    .prefix{
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .center{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: -1;
    }
    .suffix{
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}

@mixin fullpage{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
@mixin metropolis{
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin container-pc{
    width: calc($breakpoint-sm*2);
    margin-left: auto;
    margin-right: auto;
}