.onboad{
    .container{
        @include fullpage;
        @include metropolis;
        height: 100vh;
        width: 100vw;
        text-align: center;
        background-color: $fincube70;
        color: #ffffff;
    }
    .splash{
        text-align: center;
        animation-duration: 1.5s;
        animation-name: splash;
        .logo{
            margin: auto;
            width: rem(168);
            img{
                width: 100%;
            }
        }
        .catch-phrase{
            font-size: rem(14);
        }
    }
}

@keyframes splash {
    from {
        transform: translate(0, 30%);
        opacity: 0;
    }
    to {
        transform: translate(0, 0);
        opacity: 1;
    }
}