.register{
    .container{
        padding-left: $container-pad-bold;
        padding-right: $container-pad-bold;
        .label-request{
            font-size: rem(20);
            line-height: rem(28);
            font-weight: 700;
            color: $fc-default;
            &.align-c{
                text-align: center;
            }
        }
        .desc{
            font-size: rem(14);
            color: $fc-bluegray40;
        }
        &.set-password-6{
            margin-top: 12vh;
            .password-slot{
                position: fixed;
                left: rem(-100);
                top: rem(-100);
            }
            .dots-group{
                display: block;
                margin-left: auto;
                margin-right: auto;
                > ul{
                    display: flex;
                    width: rem(160);
                    justify-content: space-between;
                    margin-left: auto;
                    margin-right: auto;
                    li{
                        .dot{
                            display: inline-block;
                            width: rem(14);
                            height: rem(14);
                            border-radius: 50%;
                            background-color: $primary-light;
                            &.on{
                                background-color: $fincube70;
                            }
                        }
                    }
                }
            }
        }
        &.register-complete{
            display: flex;
            flex-direction: column;
            padding-left: 0;
            padding-right: 0;
            min-height: calc(100% - #{$header-height});
            .title-main{
                font-size: rem(20);
                font-weight: 700;
                line-height: rem(28);
                color: $fc-default;
            }
            .title-sub{
                width: 70%;
                margin-left: auto;
                margin-right: auto;
                font-size: rem(14);
                line-height: rem(22);
                color: $fc-gray50;
                word-break: keep-all;
            }
            .bottom-area{
                flex: 1 1 auto;
                &.bg-gray{
                    background-color: $bg-bluegray5;
                }
                &.has-bottom-fix{
                    padding-bottom: rem(110);
                }
                .img-wrap{
                    width: rem(292);
                    margin-left: auto;
                    margin-right: auto;
                    img{
                        width: 100%;
                    }
                }
                .function-list{
                    width: rem(260);
                    margin-left: auto;
                    margin-right: auto;
                    ul{
                        li{
                            display: flex;
                            height: rem(40);
                            align-items: center;
                            padding-left: rem(14);
                            margin-bottom: rem(12);
                            background-color: #ffffff;
                            border-radius: rem(5);
                            font-size: rem(15);
                            line-height: rem(19);
                            color: $fc-default;
                            [class*="icon-"]{
                                margin-right: rem(9);
                            }
                            &:last-child{
                                margin-bottom: 0;
                            }
                        }
                    }
                }
                .bottom-fix{
                    background-color: $bg-bluegray5;
                }
            }
        }
        &.set-certification{
            .title-main{
                font-size: rem(20);
                font-weight: 700;
                line-height: rem(28);
                color: $fc-default;
            }
            .title-sub{
                width: 90%;
                margin-left: auto;
                margin-right: auto;
                font-size: rem(14);
                line-height: rem(22);
                color: $fc-gray50;
                word-break: keep-all;
            }
            .partition{
                border-top: 1px solid $bluegray5;
            }
            .step-info{
                margin-left: rem(10);
                margin-right: rem(10);
                li{
                    position: relative;
                    margin-bottom: rem(30);
                    .circle-num{
                        display: inline-flex;
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: rem(20);
                        height: rem(20);
                        align-items: center;
                        justify-content: center;
                        color: #ffffff;
                        background-color: $fc-default;
                        border-radius: 50%;
                        font-size: rem(12);
                    }
                    p{
                        padding-left: rem(32);
                        font-size: rem(14);
                        line-height: rem(26);
                        >span{
                            display: block;
                            font-size: rem(12);
                            color: $fc-gray50;
                            line-height: rem(18);
                        }
                    }
                }
            }
            .auth-number-wrap{
                .title{
                    text-align: center;
                    font-size: rem(12);
                    color: $fc-gray50;
                }
                .number-plate{
                    display: block;
                    width: rem(240);
                    padding-top: rem(8);
                    padding-bottom: rem(8);
                    margin-left: auto;
                    margin-right: auto;
                    font-size: rem(16);
                    line-height: rem(24);
                    letter-spacing: rem(-0.02);
                    background-color: $bg-bluegray5;
                    text-align: center;
                    border-radius: rem(5);
                    &.set-number{
                        border: 1px solid $bc-input;
                        display: flex;
                        padding-left: rem(20);
                        padding-right: rem(20);
                        align-items: center;
                        input{
                            flex: 1 1 20%;
                            min-width: 0;
                            text-align: center;
                            background-color: $bg-input;
                            font-size: rem(16);
                        }
                        span{
                            display: inline-flex;
                            margin-left: rem(2);
                            margin-right: rem(2);
                        }
                    }
                }
            }
            .img-wrap{
                &.how-to-img{
                    width: rem(280);
                    margin-left: auto;
                    margin-right: auto;
                    img{
                        width: 100%;
                    }
                }
            }
        }
        &.setup-program{
            @include fullpage;
            @include metropolis;
            flex-direction: column;
            .img-wrap{
                width: rem(130);
                img{
                    width: 100%;
                }
            }
            .title-main{
                font-size: rem(20);
                font-weight: 700;
                line-height: rem(28);
                color: $fc-default;
            }
            .title-sub{
                width: 90%;
                margin-left: auto;
                margin-right: auto;
                font-size: rem(14);
                line-height: rem(22);
                color: $fc-gray50;
                word-break: keep-all;
            }
        }
    }
}