.tax-bill-issue{
    .container{
        @include container-height;
        padding-left: $container-pad;
        padding-right: $container-pad;
        text-align: center;
        .topper{
            .target-name{
                font-size: rem(13);
                line-height: rem(16);
                color: $fc-gray40;
            }
            .target-cell-number{
                margin-top: rem(5);
                font-size: rem(16);
                font-weight: 700;
                line-height: rem(30);
                color: $fc-default;
            }
        }
        .label-request{
            font-size: rem(20);
            line-height: rem(28);
            font-weight: 700;
            color: $fc-default;
        }
        .content{
            .input-wrapper{
                .input-currency{
                    input{
                        width: 100%;
                        text-align: center;
                        font-size: rem(30);
                        color: $fc-default;
                        &:focus{
                            outline: none;
                        }
                        &::placeholder{
                            font-size: rem(30);
                            color: $fc-gray30;
                        }
                    }
                }
            }
            .issue-summary{
                &.gray-box{
                    border-radius: rem(5);
                    background-color: $bg-bluegray5;
                    padding: rem(20);
                }
                ul{
                    li{
                        color: $fc-gray50;
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: rem(16);
                    }
                }
                .total-amount{
                    display: flex;
                    justify-content: space-between;
                }
            }
            .select-type{
                text-align: left;
                .label{
                    color: $fc-bluegray50;
                    font-size: rem(14);
                    line-height: rem(18);
                }
                .button{
                    display: inline-block;
                    font-size: rem(16);
                    color: $fc-default;
                }
            }
        }
        .recent-list{
            h3{
                color: $fc-bluegray50;
                font-size: rem(12);
                line-height: rem(15);
            }
            ul{
                display: flex;
                flex-wrap: wrap;
                gap: rem(10);
                li{

                }
            }
            .tag{
                display: inline-flex;
                align-items: center;
                background-color: $bg-input;
                height: rem(32);
                border-radius: rem(20);
                padding-left: rem(14);
                padding-right: rem(14);
                .button{
                    &.delete{
                        margin-left: rem(5);
                    }
                    &.select{
                        font-size: rem(14);
                        color: $fc-default;
                    }
                }
            }
        }
        &.confirm{
            .summary{
                padding: rem(20);
                background-color: $bg-bluegray5;
                border-radius: rem(5);
                text-align: left;
                .target-name{
                    font-size: rem(18);
                    line-height: rem(23);
                    color: $fc-default;
                }
                .issue-amount{
                    font-size: rem(24);
                    line-height: rem(30);
                    color: $fc-default;
                    font-weight: 700;
                }
                .issue-date{
                    font-size: rem(13);
                    line-height: rem(16);
                    color: $fc-gray40;
                }
            }
        }
        .detail-info{
            ul{
                display: block;
                width: 100%;
                padding-top: rem(16);
                padding-bottom: rem(16);
                border-bottom: 1px solid $fc-gray20;
                &:nth-last-of-type(1){
                    border-bottom: 0;
                }
                li{
                    display: flex;
                    width: 100%;
                    justify-content: space-between;
                    font-size: rem(14);
                    line-height: rem(18);
                    color: $fc-default;
                    margin-bottom: rem(14);
                    &:nth-last-of-type(1){
                        margin-bottom: 0;
                    }
                    .dd{
                        font-weight: 700;
                        text-decoration: none;
                        color:$fc-default;
                    }
                }
            }

        }
        
    }
}
.type-select-wrap{
    .period-select-topper{
        margin-top: rem(50);
        ul{
            li{
                margin-bottom: rem(30);
                &:last-child{
                    margin-bottom: 0;
                }
                .description{
                    font-size: rem(13);
                    line-height: rem(16);
                    color: $fc-gray50;
                    margin-bottom: rem(3);
                }
            }
        }

    }
    .input-wrapper{
        label{
            font-size: rem(15);
            line-height: rem(19);
            color: $fc-default;
            justify-content: space-between;
        }
    }
}
@media (min-width: $breakpoint-pad){
    .tax-bill-issue{
        .container{
            @include container-pc;
        }
    }
}