// colors
$primary: #156BFF;
$primary-light: #EAF2FF;
$bluegray5: #F3F4F6;
$fincube70: #3D73FF;
$fincube20: #C3D4FF;
$fincube5: #EFF4FF;
$fincube-red50: #FF5858;

$fc-default: #373A44;
$fc-gray50: #8C8C8C;
$fc-gray40: #A9A9A9;
$fc-gray30: #C4C4C4;
$fc-gray20: #E5E5E5;
$fc-bluegray40: #A2A9BA;
$fc-bluegray50: #6D768D;
$fc-primary: $primary;
$bg-bluegray5:$bluegray5;

$notice-red: #FF7474;
$notice-default: $fc-gray40;


// layout
$breakpoint-pad: 800px;
$breakpoint-sm: 375px;
$container-pad: rem(16);
$container-pad-bold: rem(24);
$header-height: rem(72);

//button
$btn-bg-default: #F0F0F0;
$btn-bg-primary: $primary;
$btn-bg-secondary: $primary-light;
$btn-bg-lightgray: $bg-bluegray5;

//input
$bc-input: #BDC2CD;
$fc-input-placeholder: $fc-gray30;
$bg-input: #F3F4F6;
$bc-focused: #6993FF;
$bg-focused: $fincube5;


//transition
$fc-easing-duration: .3s